body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: white;
}
.emoji{
    height: 120px;
    width: 120px;
    background-color: rgb(130, 77, 253);
    border-radius: 50%;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
}
.emoji .fa{
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    transform-origin: 0% 100%;
    animation: like 2s linear infinite;
}
@keyframes like
{
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg) translate(-10px);
    }
    75%{
        transform: rotate(0deg);
    }
}
